[submodule "MaterialSkin/ModernFolderBrowserDialog"]
	path = MaterialSkin/ModernFolderBrowserDialog
	url = https://github.com/SetsunaF/ModernFolderBrowserDialog.git
[submodule "ModernFolderBrowserDialog"]
	path = ModernFolderBrowserDialog
	url = https://github.com/SetsunaF/ModernFolderBrowserDialog.git

