<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tools_Injector_Mod_Menu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Tools_Injector_Mod_Menu.Properties.Settings>
      <setting name="txtLibName" serializeAs="String">
        <value />
      </setting>
      <setting name="txtToast" serializeAs="String">
        <value />
      </setting>
      <setting name="txtName" serializeAs="String">
        <value />
      </setting>
      <setting name="txtSite" serializeAs="String">
        <value />
      </setting>
      <setting name="txtText" serializeAs="String">
        <value />
      </setting>
      <setting name="txtEndCredit" serializeAs="String">
        <value />
      </setting>
      <setting name="txtImg" serializeAs="String">
        <value />
      </setting>
      <setting name="txtNDK" serializeAs="String">
        <value />
      </setting>
      <setting name="menuStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="chkRemoveTemp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkTFiveCredit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkLogsComplie" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkLogsSuccess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkLogsError" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="txtService" serializeAs="String">
        <value>&lt;service android:name="com.tfive.modmenu.FloatingModMenuService" android:enabled="true" android:exported="false" android:stopWithTask="true"/&gt;</value>
      </setting>
      <setting name="txtOnCreate" serializeAs="String">
        <value>invoke-static {p0}, Lcom/tfive/MainActivity;-&gt;Start(Landroid/content/Context;)V</value>
      </setting>
      <setting name="txtActionMain" serializeAs="String">
        <value>&lt;activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tfivel.MainActivity"&gt;
     &lt;intent-filter&gt;
         &lt;action android:name="android.intent.action.MAIN"/&gt;
         &lt;category android:name="android.intent.category.LAUNCHER"/&gt;
     &lt;/intent-filter&gt;
&lt;/activity&gt;</value>
      </setting>
      <setting name="chkSound" serializeAs="String">
        <value>True</value>
      </setting>
    </Tools_Injector_Mod_Menu.Properties.Settings>
  </userSettings>
</configuration>